@page
@model RazorPagesApp.Pages.TestimonialsModel
@using System.Text.Json.Nodes
@{
    JsonNode p1 = Model.testimonials[0];
    JsonNode p2 = Model.testimonials[1];
    JsonNode p3 = Model.testimonials[2];
}

<div id="test-box" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>@Model.title</h3>
            <p class="lead">We thanks for all our awesome testimonials! There are hundreds of our happy customers! <br>Let's see what others say about GoodWEB Solutions website template!</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="testi-carousel owl-carousel owl-theme">
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> @p1["desc-title"]</h3>
                            <p class="lead">@p1["desc-text"]</p>
                        </div>
                        <div class="testi-meta">
                            <img src=@p1["author-img"] alt="" class="img-responsive alignleft">
                            <h4>@p1["author-name"] <small>- @p1["author-title"]</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> @p2["desc-title"]</h3>
                            <p class="lead">@p2["desc-text"]</p>
                        </div>
                        <div class="testi-meta">
                            <img src=@p2["author-img"] alt="" class="img-responsive alignleft">
                            <h4>@p2["author-name"] <small>- @p2["author-title"]</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> @p3["desc-title"]</h3>
                            <p class="lead">@p3["desc-text"]</p>
                        </div>
                        <div class="testi-meta">
                            <img src=@p3["author-img"] alt="" class="img-responsive alignleft">
                            <h4>@p3["author-name"] <small>- @p3["author-title"]</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> @p1["desc-title"]</h3>
                            <p class="lead">@p1["desc-text"]</p>
                        </div>
                        <div class="testi-meta">
                            <img src=@p1["author-img"] alt="" class="img-responsive alignleft">
                            <h4>@p1["author-name"] <small>- @p1["author-title"]</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> @p2["desc-title"]</h3>
                            <p class="lead">@p2["desc-text"]</p>
                        </div>
                        <div class="testi-meta">
                            <img src=@p2["author-img"] alt="" class="img-responsive alignleft">
                            <h4>@p2["author-name"] <small>- @p2["author-title"]</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->

                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> @p3["desc-title"]</h3>
                            <p class="lead">@p3["desc-text"]</p>
                        </div>
                        <div class="testi-meta">
                            <img src=@p3["author-img"] alt="" class="img-responsive alignleft">
                            <h4>@p3["author-name"] <small>- @p3["author-title"]</small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div><!-- end testimonial -->
                </div><!-- end carousel -->
            </div><!-- end col -->
        </div><!-- end row -->

    </div><!-- end container -->
</div><!-- end section -->

<div id="testimonials" class="parallax section db parallax-off" style="background-image:url('uploads/parallax_03.jpg');">
    <div class="container">
        <div class="section-title text-center">
            <h3>Our Clients</h3>
            <p class="lead">We thanks for all our awesome testimonials! There are hundreds of our happy customers! <br>Let's see what others say about GoodWEB Solutions website template!</p>
        </div><!-- end title -->

        <hr class="hr1">

        <div class="row logos">
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="uploads/logo_01.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="uploads/logo_02.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="uploads/logo_03.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="uploads/logo_04.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="uploads/logo_05.png" alt="" class="img-repsonsive"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                <a href="#"><img src="uploads/logo_06.png" alt="" class="img-repsonsive"></a>
            </div>
        </div><!-- end row -->

    </div><!-- end container -->
</div><!-- end section -->